
ul {
  list-style-type: none;
}

a {

}

#nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 48px;
  background-color: black;
  z-index: 5;
  min-width: 840px;
}

#left-link-container {
  position: absolute;
  top: 0px;
  left: 48px;
  height: 48px;
  border-left: 1px solid #353535;
}

#left-link-container > li {
  display: block;
  float: left;
  line-height: 48px;
  border-right: 1px solid #353535;
  padding: 0 12px 0 12px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}

#left-link-container > li:hover {
  background-color: #353535;
}

#left-link-container > li > a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: Helvetica Neue;
  font-weight: 400;
}

#middle-link-container {
  position: absolute;
  top: 0px;
  left: 305px;
  height: 48px;
}

#middle-link-container > li {
  display: block;
  float: left;
  line-height: 48px;
  padding: 0 10px 0 10px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}

#middle-link-container > li > a {
  display: block;
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  font-family: Helvetica Neue;
  font-weight: 300;
}

#middle-link-container > li > a:hover {
  color:white;
}

#mag-icon {
  /*position: absolute;
  top: 0px;
  left: 650px;*/
}


#right-link-container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 48px;
}

#right-link-container > li {
  float: right;
  line-height: 48px;
  padding: 0 5px 0 5px;
  color: white;
  margin-right: 10px;
}

#right-link-container > li > a {
  cursor: pointer;
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  font-family: Helvetica Neue;
  font-weight: 300;

}

#mag-icon-link{
  display: block;
  width: 20px;
  height: 44px;
  overflow: hidden;
  color: red;
  font-size: 1px;
  background: transparent url("http://assets-9gag-fun.9cache.com/s/fab0aa49/1c5cce83b805c72a4317e9fccd34fcc8e03135d8/static/dist/web6/img/sprite-search.png") scroll no-repeat left 5px top 9px;
  background-size: 32px;
  padding: 2px 0px 2px 20px;
}

#main-content-container {
  position: absolute;
  top: 48px;
  left: 0;
  width: 500px;
  margin: 10px 0 10px 5px;
}

#main-content-container > article {
  width: 100%;
  object-fit: fill;
  overflow: hidden;
  margin: 10px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

#main-content-container > article > img {
  max-width: 100%;
  height: auto;
  max-height: 800px;
  margin-bottom: 5px;
  cursor: pointer;
}

#main-content-container > article > h2 {
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 600;
  margin-bottom: 10px;
}

#main-content-container > article > h2:hover {
  color: #1DA1F2;
  cursor: pointer;
}

#main-content-container > article > span {
  font-size: 12px;
  color: #b5b5b5;
  font-family: Helvetica Neue;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

#vote-button-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  justify-content: space-between;
  margin-top: 10px;
  width: 160px;
}

#vote-button-container .upvote-button {
  display: block;
  width: 44px;
  height: 34px;
  background-image: url("http://assets-9gag-fun.9cache.com/s/fab0aa49/4bca0cc4871e0741f23e8fb4c5d6d39727c1b1e4/static/dist/web6/img/sticky-vote.png");
  margin: 0 2px 0 2px;
  background-position: left 1px top 1px;
  border: 1px solid #cccccc;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  cursor: pointer;
}

#vote-button-container .upvote-button > a {
  display: block;
}

#vote-button-container .downvote-button {
  display: block;
  width: 44px;
  height: 34px;
  background-image: url("http://assets-9gag-fun.9cache.com/s/fab0aa49/4bca0cc4871e0741f23e8fb4c5d6d39727c1b1e4/static/dist/web6/img/sticky-vote.png");
  margin: 0 2px 0 2px;
  background-position: left 1px bottom 1px;
  border: 1px solid #cccccc;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  cursor: pointer;
}

#vote-button-container .downvote-button > a {
  display: block;
}

#vote-button-container .comment-button {
  display: block;
  width: 44px;
  height: 34px;
  background-image: url("http://assets-9gag-fun.9cache.com/s/fab0aa49/4bca0cc4871e0741f23e8fb4c5d6d39727c1b1e4/static/dist/web6/img/other-buttons.png");
  margin: 0 2px 0 2px;
  background-position: left 1px bottom 1px;
  border: 1px solid #cccccc;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  cursor: pointer;
}

#vote-button-container .comment-button > a {
  display: block;
}

#share-button-container {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 22px;
  font-family: Helvetica Neue;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
}

#share-button-container .facebook-button {
  display: block;
  background-color: #3B5998;
  text-align: center;
  font-family: Helvetica Neue;
  font-weight: 400;
  text-decoration: none;
  color: white;
  width: 80px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  background: #3B5998 url("images/FB_logo.png") scroll no-repeat left top 5px;
  background-size: 20px;
  padding: 2px 0px 2px 20px;
  border-radius: 3px;

}

#share-button-container .twitter-button {
  display: block;
  text-align: center;
  width: 80px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  font-family: Helvetica Neue;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background: #1DA1F2 url("images/Twitter_logo.png") scroll no-repeat left 5px top 5px;
  background-size: 24px;
  padding: 2px 0px 2px 20px;
  border-radius: 3px;
}
